#Main
.env

# Python
backend/venv/
backend/.env
backend/__pycache__/
backend/*.db
backend/medicines_manager
.pytest_cache/
**/__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store