# Web Framework & Server
fastapi[all]
uvicorn

# Database & Migrations
sqlmodel
psycopg2-binary
alembic

# Security & Authentication
python-jose[cryptography]
passlib[bcrypt]

# Utility
python-dotenv
httpx
python-multipart

# Background Tasks
apscheduler

# Tests
pytest
pytest-mock
